* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @include flex-center;

  margin: 0;
  background: #444;
  min-height: 100vh;
}

main {
  background: #eee;
  border: 3px solid wheat;
  border-radius: 10px;
  box-shadow: 8px 8px 20px #222;

  position: relative;
  overflow: hidden;

  width: var(--board-width);
  height: var(--board-height);
}

main > * {
  position: absolute;
  left: var(--x);
  bottom: var(--y);
}

#shooter {
  --r: 85;

  background: rgb(var(--r), 85, 85);
  border: 5px solid #555;

  width: var(--shooter-width);
  height: var(--shooter-height);
}

.bullet {
  background: #777;
  width: var(--bullet-width);
  height: var(--bullet-height);
}
